body {
    background-color: black;
}

.message {
    color: #EEEEEE;
    padding:20px;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

a {
    color: white;
}

li {
    font-size: 14px;
}

h4 {
    margin: 0;
}

.savedMessage {
    display: none;
    color: #333;
}
/*** Code Input ***/
#jsonInput {
    width: 95%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.pageheader {
    margin-left: 40px;
    margin-bottom: 10px;
}

.navigationLinks {
    margin-left: 50px;
    color: white;
}

.CodeMirror {
    height: 400px !important;
}

.inputBoxTitle {
    color: black;
}

.controls {
    background-color: #333;
    padding: 5px;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
}

#input {
    float: left;
    width: 45%;
    background-color: #555555;
}

#output {
    float: left;
    width: 55%;
}