/**********/

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /* to make html selectors non-printable.*/
    .noprint {
        display: none;
    }
}

@page {
    size: 7in 9.25in;
    margin: 1mm 1mm 1mm 1mm;
}




/************/

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    color: #DDD;
    font-size: 12px;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    /*height: 1200px;*/
    /*border: solid 1px black;*/
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

td {
    vertical-align: top;
}

li {
    font-size: 12px;
}

ul,
p {
    margin: 0;
    /* padding-left: 25px; */
}

a {
    text-decoration: underline;
    color: inherit;
}

#phone-icon {
    height: 18px;
}

.profileImage {
    height: 100px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url("prabhat.png");
    background-repeat: no-repeat;
}

.row {
    margin: 0;
}

.bio {
    background-color: #1F2F3D;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.header {
    text-align: center;
    position: relative;
    top: 20px;
    margin-bottom: 50px;
}

.company {
    margin-top: 5px;
}

.name {
    font-size: 20px;
    color: #FFF;
}

.workHeader {
    /*margin-top: 20px;*/
}

.designation {
    font-size: 10px;
}

.experienceGroup {
    margin-top: 15px;
}

.leftColumnHeader {
    font-size: 13px;
    color: #BBB;
    border-bottom: solid 1px #AAA;
}

.leftColumnDetails {
    font-size: 10.5px;
    color: #EEE;
    text-align: justify;
}

.whiteBottomBorder {
    border-bottom: solid 1px #AAA;
    margin-bottom: 10px;
    margin-top: 10px;
}



/* experience */

.experience {
    background-color: #DDD;
    color: #1F2F3D;
    text-align: justify;
    padding: 5px;
}

.blueBottomBorder {
    border-bottom: solid 1px #1F2F3D;
    margin-bottom: 10px;
    margin-top: 10px;
}

.rightColumnHeader {
    font-size: 18px;
}

.experienceDesignation {}

.duration {
    font-size: 10px;
    font-style: italic;
    margin-left: 0px;
}

.companyName {
    font-size: 13px;
    font-weight: bold;
}

.workdDetailHeader {
    font-size: 12px;
    margin: 5px;
    font-weight: bold;
    text-orientation: sideways-right;
}